.result {
  display: none;
  padding-top: 10px;
}

#primes {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 26px;
  color: blue;
}

#numbers {
  letter-spacing: 5px;
  font-size: 20px;
  color: green;
}
